annotated-types==0.7.0
bcrypt==4.2.0
cffi==1.17.0
cryptography==43.0.0
docopt==0.6.2
paramiko==3.4.1
prompt_toolkit==3.0.47
pycparser==2.22
pydantic==2.8.2
pydantic-settings==2.4.0
pydantic_core==2.20.1
pyflakes==3.2.0
Pygments==2.18.0
PyNaCl==1.5.0
python-dotenv==1.0.1
pyvim==3.0.3
pyvmomi==8.0.3.0.1
six==1.16.0
typing_extensions==4.12.2
wcwidth==0.2.13
